.hero-widget {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  .icon {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  label {
    font-size: 17px;
  }
  .options {
    margin-top: 10px;
  }
}